<header class="header">
  <ul class="header__links">
    <li
      *ngFor="let candidate of candidates"
      class="header__linkWrapper">
      <a
        [routerLink]="candidate.id"
        queryParamsHandling="preserve"
        routerLinkActive="header__link--active"
        class="header__link">
        {{ candidate.name }}
      </a>
    </li>
    <li class="header__linkWrapper">
      <a
        routerLink="compare"
        queryParamsHandling="preserve"
        routerLinkActive="header__link--active"
        class="header__link">
        Compare
      </a>
    </li>
  </ul>
</header>
