$headerBorderRadius: 6px;

.header {
  margin-bottom: 20px;

  &__links {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__linkWrapper {
    align-items: center;
    background: rgb(240,240,240);
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: all 0.25s ease;

    &:hover {
      background: rgb(220,220,220);
    }

    &:first-of-type,
    &:first-of-type > .header__link {
      border-bottom-left-radius: $headerBorderRadius;
    }

    &:last-of-type,
    &:last-of-type > .header__link {
      border-bottom-right-radius: $headerBorderRadius;
    }
  }

  &__link {
    color: black;
    padding: 10px 10px;
    white-space: nowrap;

    &--active {
      background: rgba(rgb(0, 204, 255), 0.8);
      text-decoration: underline;
    }
  }
}
