<div
  [ngClass]="{ 'loading-background': loading }"
  class="compare">
  <ul class="compare__allCandidates">
    <li
      *ngFor="let candidate of allCandidates; let i = index"
      (click)="selectCandidate(candidate.id)"
      [ngClass]="getCandidateClasses(candidate)"
      class="compare__candidate">
      <div>{{ candidate.name }}</div>
      <div
        *ngIf="isSelected(candidate)"
        (click)="unselectCandidate($event, candidate.id)"
        class="compare__candidate__delete">
        <!-- TODO find svg for this -->
        X
      </div>
    </li>
  </ul>

  <div class="compare__chart">
    <div [ngSwitch]="selectedCandidates">
      <ng-container *ngFor="let n of possibleListLengths">
        <canvas mdbChart
          *ngSwitchCase="n"
          chartType="line"
          [datasets]="datasets"
          [labels]="chartLabels"
          [colors]="chartColors"
          [legend]="true"
          [options]="{ responsive: true }"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>
      </ng-container>
    </div>
    <app-date-range
      (datesChanged)="loading = true"
      class="candidate__dateRange">
    </app-date-range>
  </div>
</div>
