<div
  [ngClass]="{ 'loading-background': loading }"
  class="candidate">
  <div class="candidate__chart">
    <canvas mdbChart
      chartType="line"
      [datasets]="getDataset(candidate)"
      [labels]="chartLabels"
      [colors]="chartColors"
      [options]="{ responsive: true }"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
    </canvas>
    <app-date-range
      (datesChanged)="loading = true"
      class="candidate__dateRange">
    </app-date-range>
  </div>

  <div class="candidate__info">
    <h2 class="candidate__name">
      {{ candidate.name }}
    </h2>
    <img
      [src]="candidate.imgSrc"
      [alt]="candidate.name"
      class="candidate__img">
    <div class="candidate__age">
      Age: {{ getAge(candidate.birthday) }} years old
    </div>
  </div>
</div>
